<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>grepIRL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E32ECCC1CC8479F0060D721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E32ECE01CC847A00060D721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E32ECEB1CC847A00060D721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
